

h5 {
    color: white;
    font-size: 30pt;
  }

  h5.question {
    color: deepskyblue;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  h5.reponse {
    color: darkorange;
    margin-bottom: 25px;
  }

  h6 {
    color: white;
    font-size: 20pt;
  }

  h6.bonus {
    color: orange;
    font-size: 20pt;
    margin-top: 0px;
  }