div.accueil {
   //@extend background-image: url('/assets/background2.png') !important;
    color: black;
    // background-repeat: repeat-y;
    background-size: contain;
    font-weight: bold;
}

h2 {
    color: white;
}
